<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>Jungle is an application that allows users the opportunity to purchase
    plants in a very convinient way.  This application is all about user experience and allows 
    users to create a cart, and checkout their items.  It organizes the available plants in a way that
    is user friendly, and easy to navigate through the top nav bar.  Sold out items will be 
    unavailable to the user, and the app itself uses very up to date frontend formatting.  </p>
  </body>
</html>